.App {
  text-align: center;
}

#movie_reel {
  animation: movie_reel infinite 20s linear;
  height: 80px;
}

.App-header {
  display: flex;
  align-items: center;
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

#banner {
  font-size: 2.5em;
  font-family: cursive;
}

#movie_reel {
  height: auto;
  width: 4em;
  margin-right: 1em;
}

@keyframes movie_reel {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
